<section class="flex flex-col items-center w-full px-6 py-16 bg-tag-light-red angled-both">
	<div class="flex flex-col items-center w-full max-w-screen-xl mb-12">
		{% set sectionHeader = entry.aboutSectionContent.sectionHeader %}
		{% set sectionContent = entry.aboutSectionContent.sectionContent %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
		<article class="flex flex-col flex-wrap items-center">
			{% for block in sectionContent.all() %}
				{% switch block.type %}
					{% case "bodyText" %}
						<article class="w-full py-8 text-center tag md:px-32">
							{{ block.bodyText }}
						</article>
				{% endswitch %}
			{% endfor %}
			<div class="flex flex-col flex-wrap items-stretch md:flex-row">
				{% for block in sectionContent.all() %}
					{% switch block.type %}
						{% case "image" %}
							{% set image = block.image.one().optimizedImages %}
							{% set imageHeader = block.overlayHeader %}
							{% set imageSubheader = block.overlaySubheader %}
							{% set imageBodyText = block.overlayBodyText %}
							<div class="w-full p-4 md:w-1/3 lg:w-1/4">
								<img src="{{ image.src }}" class="flex flex-col items-center justify-end object-cover object-center w-full h-64 p-4 border-4 border-tag-yellow" />
									<div class="flex flex-col items-start w-full p-t bg-tag-teal">
										<header class="mb-2">
											<h2 class="leading-none tag">{{ imageHeader }}</h2>
											<h5 class="font-bold tag text-tag-dark-red">{{ imageSubheader }}</h5>
										</header>
										<article class="tag">
											{{ imageBodyText }}
										</article>
									</div>
							</div>
					{% endswitch %}
				{% endfor %}
			</div>
		</article>
	</div>
</section>
