<section class="w-full flex flex-col items-center px-6 bg-tag-light-red py-16 angled-both">
	<div class="w-full max-w-screen-xl">
		{% set sectionHeader = entry.happeningsSectionContent.sectionHeader %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
		{% for entry in craft.entries().section('events').all() %}
			{% set eventTitle = entry.eventContent.eventTitle %}
			{% set eventBannerImage = entry.eventContent.eventBannerImage.one().optimizedImages %}
			{% set eventBannerImageAltText = entry.eventContent.eventBannerImage.one().title %}
			{% set eventDate = entry.eventContent.eventDate|datetime %}
			{% set btnText = "Learn More" %}
			<article class="bg-tag-light-grey flex flex-col items-start p-4 w-1/2 md:w-1/3">
				<img src="{{ eventBannerImage.src}}" data-srcset="{{ eventBannerImage.srcset() }}" alt="{{ eventBannerImageAltText }}" class="border-tag-yellow border-2 object-cover w-full h-48">
				<h2 class="tag text-tag-teal">{{ eventTitle }}</h2>

				<h3 class="tag mb-4 border-tag-red border-t-2 w-full">{{ eventDate }}</h3>
				{% include "_tacos-el-gallo/_snippets/btn-alt" %}
			</article>

		{% endfor %}
	</div>
</section>
