<section class="w-full flex flex-col items-center px-6 bg-tag-teal py-16 angled-bottom">
	<div class="w-full max-w-screen-xl flex flex-col items-center mb-12">
		{% set sectionHeader = entry.hoursSectionContent.sectionHeader %}
		{% set address = entry.hoursSectionContent.address %}
		{% set hours = entry.hoursSectionContent.hours %}
		{% set phoneNumber = entry.hoursSectionContent.phoneNumber %}
		{% set bodyText = entry.hoursSectionContent.bodyText %}
		{% set ctaText = entry.hoursSectionContent.callToActionText %}
		{% set ctaLink = entry.hoursSectionContent.callToActionLink %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
		<div class="flex flex-col md:hidden items-center p-4 w-full">
			<address class="not-italic">
				<a href="https://goo.gl/maps/b1R88RrjJU2dZ4cE6">
					<h2 class="text-tag-light-grey tag text-center">{{ address }}</h2>
				</a>
			</address>
			<div>
				<h2 class="text-tag-dark-red tag text-center my-2">{{ hours | nl2br }}</h2>
			</div>
			<div>
				<h2 class="text-tag-dark-red tag">{{ phoneNumber }}</h2>
			</div>
		</div>
		<div class="flex flex-row w-full border-tag-yellow p-4 border-4 h-64 md:h-auto items-stretch" style="{% if entry.hoursSectionContent.map.one()|length %} {% set map = entry.hoursSectionContent.map.one().getUrl() %}background: url('{{ map }}') no-repeat right/cover;{% endif %}">
			<div class="hidden md:flex flex-col items-center p-4 md:w-2/5 lg:w-1/3 h-full bg-tag-teal bg-opacity-85">
				<address class="not-italic">
					<a href="https://goo.gl/maps/b1R88RrjJU2dZ4cE6">
						<h2 class="text-tag-light-grey tag text-center cursor-pointer">{{ address }}</h2>
					</a>
				</address>
				<div>
					<h2 class="text-tag-dark-red tag text-center my-2">{{ hours | nl2br }}</h2>
				</div>
				<div>
					<a href="tel:1-828-254-8980">
						<h2 class="text-tag-dark-red tag">{{ phoneNumber }}</h2>
					</a>
				</div>
				<article class="text-center text-black mb-4 tag">
					{{ bodyText }}
				</article>
				{% include "_tacos-el-gallo/_snippets/btn-main.twig" %}
			</div>
			<div class=" w-full md:w-2/3 h-auto cursor-pointer" onclick="location.href='https://goo.gl/maps/b1R88RrjJU2dZ4cE6';"></div>
		</div>
		<div class="flex flex-col md:hidden items-center p-4 w-full">
			<article class="text-center text-black mb-4 tag">
				{{ bodyText }}
			</article>
			{% include "_tacos-el-gallo/_snippets/btn-main.twig" %}
		</div>
	</div>
</section>
