<section class="flex flex-col items-center w-full px-6 py-16 bg-tag-light-red angled-top">
	{% set purchasableId = craft.app.request.param('purchasableId') %}
	<div class="w-full max-w-screen-xl">
		{% set sectionHeader = entry.merchSectionContent.sectionHeader %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
		{% if purchasableId %}
			{# if we have a purchasableId as a query param, just add it to cart and submit the form #}
			<form method="POST" name="auto-add-to-cart" class="add-to-cart-form">
				<input type="hidden" name="action" value="commerce/cart/update-cart">
				{{ redirectInput('order') }}
				<input type="hidden" name="qty" value="1">
				{{ csrfInput() }}
				<input type="hidden" name="purchasableId" value="{{ purchasableId }}">
				<input type="submit" hidden/>
			</form>
			<script>
				window.onload = function () {
document.forms['auto-add-to-cart'].submit();
}
			</script>
		{% else %}
			<div class="flex flex-row flex-wrap w-full">
				{% for product in craft.products().all() %}
					{% set variant = product.defaultVariant %}
					{% set productImage = product.productImages.one().optimizedImages %}
					{% set productImageAltText = product.productImages.one().title %}
					<div class="flex flex-col items-center justify-between w-1/2 p-4 md:w-1/4">
						<a href="{{ product.url }}"><img src="{{ productImage.src() }}" alt="{{ productImageAltText }}" data-srcset="{{ productImage.srcset() }}" class="object-cover w-full h-40 mb-4 border-4 border-tag-yellow md:h-64"></a>
						<div class="flex flex-col items-center space-y-2">
							<h2 class="text-center text-black tag">{{ product.title }}</h2>
							<h2 class="tag text-tag-light-grey">{{ product.defaultVariant.salePriceAsCurrency }}</h2>
							{% set btnLink = product.url %}
							{% set btnText = 'Buy' %}
							<a href="{{ btnLink }}" class="p-2 text-xl font-extrabold uppercase border-2 border-tag-teal text-tag-teal bg-tag-light-grey font-proxima-nova hover:border-tag-red hover:text-tag-red tag">
								{{ btnText }}
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</section>
