<section class="w-full flex flex-col items-center px-6 bg-tag-light-red py-16 angled-top">
	{% set purchasableId = craft.app.request.param('purchasableId') %}
	{% if purchasableId %}
		Adding to cart...
	{% else %}
		Buy your hand-crafted free-range coastal artisan t-shirt.
	{% endif %}
	<div class="w-full max-w-screen-xl">
		{% set sectionHeader = entry.merchSectionContent.sectionHeader %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% include "_tacos-el-gallo/_snippets/heading" %}
		{% set products = craft.products().type('clothing') %}
		{% if purchasableId %}
			{# if we have a purchasableId as a query param, just add it to cart and submit the form #}
			<form method="POST" name="auto-add-to-cart" class="add-to-cart-form">
				<input type="hidden" name="action" value="commerce/cart/update-cart">
				{{ redirectInput('/tag/order') }}
				<input type="hidden" name="qty" value="1">
				{{ csrfInput() }}
				<input type="hidden" name="purchasableId" value="{{ purchasableId }}">
				<input type="submit" hidden/>
			</form>
			<script>
				window.onload = function () {
document.forms['auto-add-to-cart'].submit();
}
			</script>
		{% else %}
			<div class="w-full flex flex-row flex-wrap">
				{% set product = craft.products.one() %}
				{% set productImage = product.defaultVariant.productImage.one().optimizedImages %}
				<div class="w-1/2 md:w-1/4 flex flex-col items-center p-4">
					<img src="{{ productImage.src }}" alt="" class="border-4 border-tag-yellow">
					<h2 class="tag text-black">{{ product.title }}</h2>
					<h2 class="tag text-tag-gold">{{ product.defaultVariant.salePriceAsCurrency }}</h2>
        <a href="/buy/add?purchasableId={{product.defaultVariant.id}}"class="bg-blue-commerce text-white w-1/2 rounded px-3 py-3 ml-1 mt-6 text-sm hover:bg-blue-dark outline-0">
            Buy {{ product.title }} ({{ product.defaultVariant.salePriceAsCurrency }})
        </a>
				</div>
			</div>
		{% endif %}
	</div>
</section>
