{% set cart = craft.commerce.carts.cart %}

{% set step = craft.app.request.param('step') %}

{% if cart.isEmpty %}
	{% redirect '#merch' %}
{% endif %}
{% if not step %}
	{% redirect 'order?step=1' %}
{% endif %}

{% set showEmailForm = (step == 1) %}
{% set showEmailInfo = (not showEmailForm and cart.email) %}


{% set showPaymentForm = (step == 2) %}
{% set showShippingInfo = (not showEmailForm and cart.shippingAddress) %}

{% if showPaymentForm and not cart.email %}
	{% redirect 'order?step=1' %}
{% endif %}

{% if showPaymentForm and not cart.shippingAddress %}
	{% redirect 'order?step=1' %}
{% endif %}

{% set productDescription = '' %}
{% set productTitle = '' %}

<section class="flex flex-col items-center w-full min-h-screen p-0 md:py-48 bg-imp-light-grey">
	<div class="flex-grow w-full h-full max-w-screen-xl px-4 py-12 rounded-lg shadow-lg bg-cool-gray-300 md:py-24 md:px-12 lg:px-48">
		<header class="flex flex-row flex-wrap items-center content-center mb-12 border-b-2 border-cool-gray-400">
			<div class="flex flex-col items-center mb-4 md:flex-row">
				{% for item in cart.lineItems %}
					{% set product = item.purchasable.product %}
					{% set productImage = product.productImages.one().optimizedImages %}
					{% set productImageAltText = product.productImages.one().title %}
					{% if product.type=='shirts' %}
						{% set productDescription =  ' • ' ~ item.purchasable.size.label %}
					{% endif %}
					{% set productTitle = item.purchasable.product.title %}


					<img src="{{ productImage.src }}" class="self-start w-auto h-32 mb-2 mr-4 rounded-lg md:mb-0 md:self-center" alt="{{ productImageAltText }}" data-srcset="{{ productImage.srcset() }}">
				{% endfor %}
				<div class="flex flex-col">
					<h2 class="font-bold leading-5 text-gray-700 imp">{{ productTitle }}{{ productDescription }}<br>${{ cart.totalPrice }}*
					</h2>
					<span class="block text-sm font-medium leading-5 text-gray-700">*Total Includes Shipping and Tax.</span>
					<form method="post" class="flex flex-row mt-4">
						<input type="hidden" name="action" value="commerce/cart/update-cart">
						<input type="hidden" name="cartUpdatedNotice" value="Updated line items.">
						{{ redirectInput('order?step=1') }}
						{{ csrfInput() }}
						{% for item in cart.lineItems %}
							<input type="hidden" name="lineItems[{{ item.id }}][id]" value="{{ item.id }}">
							<input type="number" name="lineItems[{{ item.id }}][qty]" min="1" value="{{ item.qty }}" class="block pl-3 mr-4 text-center form-input sm:text-sm sm:leading-5 w-15">
						{% endfor %}
						<input type="submit" value="Update Quantity" class="w-48 px-3 py-2 text-sm font-bold text-center text-white rounded bg-cool-gray-600 hover:bg-cool-gray-800 outline-0">
					</form>
				</div>
				<div class="flex flex-col items-start self-start mt-4 md:self-end md:mt-0 md:ml-4 md:pl-4 md:border-l-2 md:border-gray-400">

					<span class="block mb-1 text-sm font-medium leading-5 text-gray-700">Item Sub Total:
						<span title="{{ cart.itemSubTotal }}" class="inline-block font-bold leading-5 text-normal">{{ cart.itemSubtotalAsCurrency }}</span>
					</span>
					<span class="block mb-1 text-sm font-medium leading-5 text-gray-700">Total Shipping:
						<span title="{{cart.getTotalShippingCost()}}" class="inline-block font-bold leading-5 text-normal">{{ cart.totalShippingCostAsCurrency }}</span>
					</span>
					<span class="block mb-1 text-sm font-medium leading-5 text-gray-700">Total Tax:
						<span title="{{cart.getTotalTax()}}" class="inline-block font-bold leading-5 text-normal">{{ cart.totalTaxAsCurrency }}</span>
					</span>
					<form method="post" class="flex flex-row w-1/2 mt-2">
						<input type="hidden" name="action" value="commerce/cart/update-cart">
						<input type="hidden" name="cartUpdatedNotice" value="Updated line items.">
						{{ redirectInput('order?step=1') }}
						{{ csrfInput() }}
						{% for item in cart.lineItems %}
							<input type="submit" name="lineItems[{{ item.id }}][remove]" value="Cancel Order" class="w-48 px-3 py-2 text-sm font-bold text-center text-white rounded bg-cool-gray-600 hover:bg-cool-gray-800 outline-0">
						{% endfor %}
					</form>
				</div>
			</div>
		</header>
		<div class="flex flex-col items-start">
			{% if showEmailForm %}
				<h2 class="block p-4 text-base font-bold leading-5 text-gray-700">Shipping Information</h2>
				<form method="POST" class="w-full add-to-cart-form lg:w-3/4">
					<input type="hidden" name="action" value="commerce/cart/update-cart">
					{{ redirectInput('order?step=2') }}
					{{ csrfInput() }}
					<div class="p-2 md:p-4">
						<label for="email" class="block text-sm font-medium leading-5 text-gray-700">Email</label>
						<div class="relative mt-1 rounded-md shadow-sm">
							<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
								<svg class="w-5 h-5 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
									<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"/>
									<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"/>
								</svg>
							</div>
							<input id="email" name="email" type="email" value="{{cart.email}}" {% if currentUser %}} disabled {% endif %}} class="block w-full pl-10 form-input sm:text-sm sm:leading-5" placeholder="you@example.com" required/>
						</div>
					</div>
					{# Name Fields for Shipping #}
					<div class="flex flex-col md:flex-row">
						<div class="w-full p-2 md:w-1/2 md:p-4">
							<label for="first-name" class="block text-sm font-medium leading-5 text-gray-700 {% if cart.shippingAddress and cart.shippingAddress.getFirstError('firstName') %}text-red{% endif %}">First Name</label>
							<div class="relative mt-1 rounded-md shadow-sm">
								<input id="first-name" name="shippingAddress[firstName]" type="text" value="{{cart.shippingAddress.firstName ?? ''}}" class="block w-full form-input sm:text-sm sm:leading-5" placeholder="Jane" required/>
							</div>
						</div>
						<div class="w-full p-2 md:w-1/2 md:p-4">
							<label for="last-name" class="block text-sm font-medium leading-5 text-gray-700 {% if cart.shippingAddress and cart.shippingAddress.getFirstError('lastName') %}text-red{% endif %}">Last Name</label>
							<div class="relative mt-1 rounded-md shadow-sm">
								<input id="last-name" name="shippingAddress[lastName]" type="text" value="{{cart.shippingAddress.lastName ?? ''}}" class="block w-full form-input sm:text-sm sm:leading-5" placeholder="Doe" required/>
							</div>
						</div>
					</div>

					{# Address Fields for Shipping #}
					<div class="flex flex-col flex-wrap md:flex-row">
						<div class="w-full p-2 md:w-1/2 md:p-4">
							<label for="address1" class="block text-sm font-medium leading-5 text-gray-700 {% if cart.shippingAddress and cart.shippingAddress.getFirstError('address1') %}text-red{% endif %}">Address 1</label>
							<div class="relative mt-1 rounded-md shadow-sm">
								<input id="address1" name="shippingAddress[address1]" type="text" value="{{cart.shippingAddress.address1 ?? ''}}" class="block w-full form-input sm:text-sm sm:leading-5" placeholder="123 Main St." required/>
							</div>
						</div>
						<div class="w-full p-2 md:w-1/2 md:p-4">
							<label for="address2" class="block text-sm font-medium leading-5 text-gray-700 {% if cart.shippingAddress and cart.shippingAddress.getFirstError('address2') %}text-red{% endif %}">Address 2</label>
							<div class="relative mt-1 rounded-md shadow-sm">
								<input id="address2" name="shippingAddress[address2]" type="text" value="{{cart.shippingAddress.address2 ?? ''}}" class="block w-full form-input sm:text-sm sm:leading-5" placeholder="Apt. 23"/>
							</div>
						</div>
					</div>

					{# City state and country fields #}
					<div class="flex flex-col flex-wrap md:flex-row">
						<div class="w-full p-2 md:w-2/3 md:p-4">
							<label for="city" class="block text-sm font-medium leading-5 text-gray-700 {% if cart.shippingAddress and cart.shippingAddress.getFirstError('city') %}text-red{% endif %}">City</label>
							<div class="relative mt-1 rounded-md shadow-sm">
								<input id="city" name="shippingAddress[city]" type="text" value="{{cart.shippingAddress.city ?? ''}}" class="block w-full form-input sm:text-sm sm:leading-5" placeholder="Asheville" required/>
							</div>
						</div>
						<div class="w-full p-2 md:w-1/4 md:p-4">
							<label for="stateValue" class="block text-sm font-medium leading-5 text-gray-700 {% if cart.shippingAddress and cart.shippingAddress.getFirstError('stateValue') %}text-red{% endif %}">State</label>
							<div class="relative mt-1 rounded-md shadow-sm">
								<input id="stateValue" name="shippingAddress[stateValue]" type="text" value="{{cart.shippingAddress.stateValue ?? ''}}" class="block w-full form-input sm:text-sm sm:leading-5" placeholder="NC" required/>
							</div>
						</div>
						<div class="w-full p-2 md:w-1/3 md:p-4">
							<label for="zipCode" class="block text-sm font-medium leading-5 text-gray-700 {% if cart.shippingAddress and cart.shippingAddress.getFirstError('zipCode') %}text-red{% endif %}">Zip Code</label>
							<div class="relative mt-1 rounded-md shadow-sm">
								<input id="zipCode" name="shippingAddress[zipCode]" type="text" value="{{cart.shippingAddress.zipCode ?? ''}}" class="block w-full form-input sm:text-sm sm:leading-5" placeholder="28801" required/>
							</div>
						</div>
						<div class="w-full p-2 md:w-1/4 md:p-4">
							<div>
								<label for="country" class="block text-sm font-medium leading-5 text-gray-700 {% if cart.shippingAddress and cart.shippingAddress.getFirstError('countryId') %}text-red{% endif %}">Country</label>
								<div class="relative mt-1 rounded-md shadow-sm">
									<select id="country" aria-label="Country" name="shippingAddress[countryId]" class="relative block w-full transition duration-150 ease-in-out rounded-md form-select focus:z-10 sm:text-sm sm:leading-5" required>
										<option value="233">USA</option>
									</select>
								</div>
							</div>
						</div>
						<div class="w-1/2">
							<input type="hidden" name="billingAddressSameAsShipping" value="1"/>
						</div>
					</div>
					<div class="w-full p-4 md:w-1/2">
						<button type="submit" class="w-full px-3 py-3 mt-6 ml-1 text-sm font-bold text-white rounded bg-cool-gray-600 hover:bg-cool-gray-800 outline-0">
							Continue to Payment Info
						</button>
					</div>
				</form>
			{% endif %}
		</div>
		<div class="flex flex-col items-start mt-4 md:flex-row md:mt-16">
			{% if showEmailInfo %}
				<div class="block font-bold leading-5 text-gray-700 text-normal md:p-8">
					<h2 class="self-start block mb-6 text-base font-bold leading-5 text-gray-700">Shipping Information</h2>
					<p>
						<span class="block text-sm font-medium leading-5 text-gray-700">Email</span>
						{{ cart.email }}</p><br>
					<p>
						<span class="block text-sm font-medium leading-5 text-gray-700">Full Name</span>
						{{ cart.shippingAddress.firstName ?? ''}}
						{{ cart.shippingAddress.lastName ?? ''}}</p><br>
					<p>
						<span class="block text-sm font-medium leading-5 text-gray-700">Shipping Address</span>
						{{ cart.shippingAddress.address1 ?? ''}}
						{{ cart.shippingAddress.address2 ?? ''}}<br>
						{{ cart.shippingAddress.city ?? ''}},
						{{ cart.shippingAddress.stateValue ?? ''}}
						{{ cart.shippingAddress.zipCode ?? ''}}<br>
						{{ cart.shippingAddress.countryText ?? ''}}<br></p><br>

					{% if not currentUser %}
						<div class="mt-4">
							<a href="order?step=1" class="w-32 px-3 py-3 text-sm font-bold text-center text-white rounded bg-cool-gray-600 hover:bg-cool-gray-800 outline-0">Edit</a>
						</div>
					{% endif %}
				</div>

			{% endif %}
			{% if showPaymentForm %}
				<div class="flex flex-col items-center mt-8 md:mt-0 md:p-8 md:border-l-2 md:border-gray-400">
					<h2 class="self-start block mb-6 text-base font-bold leading-5 text-gray-700">Payment Information</h2>
					<form method="POST" class="add-to-cart-form">
						<input type="hidden" name="action" value="commerce/payments/pay">
						<input type="hidden" name="gatewayId" value="6">
						{{ redirectInput('order/confirm?number={number}') }}
						{{ csrfInput() }}
						{{ cart.gateway.getPaymentFormHtml({})|raw }}
						<div class="flex flex-col items-center mt-8">
							<button type="submit" class="w-64 px-3 py-3 text-sm font-bold text-center text-white rounded bg-cool-gray-600 hover:bg-cool-gray-800 outline-0">
								Buy ${{ cart.totalPrice }}
							</button>
						</div>
					</form>
					<img src="/uploads/powered-by-stripe.png" class="w-32 mt-8" alt="">
				</div>
			{% endif %}
		</div>


	</div>


</section>
