{% set entry = craft.entries.section('errorPage').one() %}
{% set image = entry.errorImage.one().optimizedImages %}
{% set altText = entry.errorImage.one().title %}
{% set errorHeader = entry.errorHeader %}
{% set errorText = entry.errorText %}

<section class="flex flex-col items-center flex-grow w-full h-full px-6 py-16 bg-imp-aqua">
	<div class="flex flex-col-reverse w-full max-w-screen-xl md:flex-row">
		<div class="flex flex-col items-end w-full md:w-1/2">
			<img src="{{ image.src }}" data-srcset="{{ image.srcset}}" alt="{{ altText }}">
		</div>
		<div class="flex flex-col items-center w-full p-4 md:w-1/2">
			<header class="text-center font-proxima-nova text-imp-red"  style="font-size: 10rem;">{{ errorHeader }}</header>
			<h2 class="text-2xl text-center text-black font-quicksand">{{ errorText }}</h2>
		</div>
	</div>
</section>
