<section class="flex flex-col items-center w-full px-6 py-16 bg-imp-aqua" x-data="{selected:null}">
	<div class="flex flex-col items-center w-full max-w-screen-xl mb-12">
		{% set sectionHeader = entry.menusSectionContent.sectionHeader %}
		{% set bodyText = entry.menusSectionContent.bodyText %}
		{% set ctaText = entry.menusSectionContent.callToActionText %}
		{% set ctaLink = entry.menusSectionContent.callToActionLink %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% set textColor = 'text-imp-dark-aqua' %}
		{% include "_imperial/_snippets/heading" %}
		<div class="flex flex-col flex-wrap items-center justify-around mb-8 md:flex-row">
			<article class="w-full text-center imp md:w-3/5">
				{{ bodyText }}
			</article>
			{% include "_imperial/_snippets/btn-main.twig" %}
		</div>
		<div class="flex flex-row flex-wrap items-center justify-around w-full">
			{% for row in entry.menus.all() %}
				{% set menuName = row.menuName %}
				{% set menuIcon = row.menuIcon.one().optimizedImages %}

				<div class="flex flex-col items-center w-40 cursor-pointer text-imp-dark-aqua hover:text-imp-dark-gold" @click="selected !== {{ loop.index }} ? selected = {{ loop.index }} : selected = null">
					<a href="#menu" class="text-center">
						<img src="{{ menuIcon.src }}" data-srcset="{{ menuIcon.srcset }}" alt="">
						<h2 class="imp ">{{ menuName }}</h2>
					</a>
				</div>
			{% endfor %}
		</div>
		<div id="menu" class="w-full mt-8 md:w-2/3">
			{% for row in entry.menus.all() %}
				<div class="w-full" x-show="selected == {{ loop.index }}">
					{% for block in row.menuContent.all() %}
						{% set itemName = block.itemName %}
						{% set itemDescription = block.itemDescription %}
						{% set price = block.prices %}
						{% set priceDescription = block.priceDescription %}
						<div id="menu-item-wrapper" class="flex flex-col w-full mb-4">
							<div id="menu-item-top-line" class="flex flex-row justify-between w-full">
								<div class="text-left">
									<h2 class="font-bold imp">{{ itemName }}</h3>
								</div>
								<div class="pl-10 text-right">
									<h2 class="font-bold imp text-imp-red">{{ price }}</h3>
								</div>
							</div>
							<div id="menu-item-bottom-line" class="flex flex-row justify-between w-full">
								<div class="text-left imp">
									{{ itemDescription | nl2br }}
								</div>
								<div class="pl-10 text-right imp">
									<p class="imp text-imp-dark-aqua">{{ priceDescription }}</p>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
</section>
