<section class="w-full flex flex-col items-center px-6 bg-imp-dark-aqua py-16">
	{% set purchasableId = craft.app.request.param('purchasableId') %}
	<div class="w-full max-w-screen-xl">
		{% set sectionHeader = entry.merchSectionContent.sectionHeader %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% set textColor = 'text-imp-aqua' %}
		{% include "_imperial/_snippets/heading" %}
		{% if purchasableId %}
			{# if we have a purchasableId as a query param, just add it to cart and submit the form #}
			<form method="POST" name="auto-add-to-cart" class="add-to-cart-form">
				<input type="hidden" name="action" value="commerce/cart/update-cart">
				{{ redirectInput('order') }}
				<input type="hidden" name="qty" value="1">
				{{ csrfInput() }}
				<input type="hidden" name="purchasableId" value="{{ purchasableId }}">
				<input type="submit" hidden/>
			</form>
			<script>
				window.onload = function () {
document.forms['auto-add-to-cart'].submit();
}
			</script>
		{% else %}
			<div class="w-full flex flex-row flex-wrap">
				{% for product in craft.products().all() %}
					{% set variant = product.defaultVariant %}
					{% set productImage = product.productImages.one().optimizedImages %}

					<div class="w-1/2 md:w-1/4 flex flex-col items-center p-4 justify-between">


						<img src="{{ productImage.src }}" alt="" class="w-full h-64 object-cover mb-4">
						<div class="flex flex-col items-center space-y-2">
							<h2 class="imp text-imp-aqua text-center">{{ product.title }}</h2>
							<h2 class="imp text-tag-gold">{{ product.defaultVariant.salePriceAsCurrency }}</h2>
							{% set btnLink = product.url %}
							{% set btnText = 'Learn More' %}
							{% include "_imperial/_snippets/btn-alt.twig" %}
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</section>

