<section class="w-full flex flex-col items-center px-6 bg-imp-dark-aqua py-16">
	<div class="w-full max-w-screen-xl">
		{% set sectionHeader = entry.merchSectionContent.sectionHeader %}
		{% set anchorLink = sectionHeader|replace(' ', '-')|lower %}
		{% set textColor = 'text-imp-aqua' %}
		{% include "_imperial/_snippets/heading" %}
		{% set purchasableId = craft.app.request.param('purchasableId') %}
		{% set products = craft.products().type('clothing') %}
		{% if purchasableId %}
			{# if we have a purchasableId as a query param, just add it to cart and submit the form #}
			<form method="POST" name="auto-add-to-cart" class="add-to-cart-form">
				<input type="hidden" name="action" value="commerce/cart/update-cart">
				{{ redirectInput('buy') }}
				<input type="hidden" name="qty" value="1">
				{{ csrfInput() }}
				<input type="hidden" name="purchasableId" value="{{ purchasableId }}">
				<input type="submit" hidden/>
			</form>
			<script>
				window.onload = function () {
document.forms['auto-add-to-cart'].submit();
}
			</script>
		{% else %}
			<div class="w-full flex flex-row flex-wrap">
				{% for product in products.all() %}
					{% set productImage = product.defaultVariant.productImage.one().optimizedImages %}
					{% set btnLink = "/order?purchasableId={{product.defaultVariant.id}}" %}
					{% set btnText = "Buy Now" %}
					<div class="w-1/2 md:w-1/4 flex flex-col items-center p-4">
						<img src="{{ productImage.src }}" alt="" class="border-4 border-tag-yellow">
						<h2 class="imp text-imp-aqua">{{ product.title }}</h2>
						<h2 class="imp text-tag-gold">{{ product.defaultVariant.salePriceAsCurrency }}</h2>
						<a href="{{ btnLink }}" class="btn-purchase imp">
							{{ btnText }}
						</a>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</section>
