{% set variant = product.defaultVariant %}
<section class="w-full flex flex-col items-center px-6 py-16 bg-imp-aqua h-full flex-grow">
	<div class="w-full max-w-screen-xl">
		<div class="w-full flex flex-row flex-wrap">
			<div class="w-full md:w-2/3 p-12 flex flex-row flex-wrap">
				{% for image in product.productImages.all() %}
					{% set productImage = image.optimizedImages %}
					<div class="w-1/2 p-4">
						<img src="{{ productImage.src }}" alt="" class="border-4 border-imp-gold">
					</div>
				{% endfor %}
			</div>
			<div class="w-full md:w-1/3 flex flex-col items-center p-12">
				<form method="post" class="flex flex-col items-start space-y-2">
					<input type="hidden" name="action" value="commerce/cart/update-cart">
					<input type="hidden" name="cartUpdatedNotice" value="Added {{ product.title }} to the cart.">
					{{ redirectInput('order') }}
					{{ csrfInput() }}
					<input type="hidden" name="qty" value="1">
					
					<h2 class="imp text-black">{{ product.title }}</h2>
					<div class="imp text-black">{{ product.productDescription }}</div>
                    {% if product.type=='shirts' %}
						<select name="purchasableId" class="mt-1 form-select rounded-none block w-full pl-3 pr-10 py-2 text-base leading-6 border-4 border-imp-red focus:outline-none focus:shadow-outline-blue focus:border-blue-300 sm:text-sm sm:leading-5">
							{% for variant in product.variants %}
								<option value="{{ variant.id }}">{{ variant.size.label }}</option>
							{% endfor %}
						</select>
					{% else %}
						<input type="hidden" name="purchasableId" value="{{ variant.id }}">
					{% endif %}
					<h2 class="imp text-imp-gold">{{ variant.salePriceAsCurrency }}</h2>
					<input type="submit" value="Buy Now" class="btn-main imp cursor-pointer">
				</form>
			</div>

		</div>
	</div>
</section>
