<article class="flex flex-col items-center w-full p-4 bg-imp-light-grey">
	{% if entry.eventContent.eventBannerImage.one() | length %}
		<img src="{{ eventBannerImage.src}}" data-srcset="{{ eventBannerImage.srcset() }}" alt="{{ eventBannerImageAltText }}" class="object-cover w-full h-48 border-4 border-imp-gold">
	{% endif %}
	<h2 class="w-full mt-4 text-left imp text-imp-dark-aqua">{{ eventTitle }}</h2>
	<h2 class="w-full mb-4 font-bold text-left border-t-4 imp text-imp-dark-aqua border-imp-red">{{ eventDate }}
		at
		{{ eventTime }}</h2>
	<a href="https://www.facebook.com/events/{{ entry.facebookId }}" class="btn-alt imp" target="_blank" rel="nofollow">
		{{ btnText }}
	</a>
</article>
