<article class="flex flex-col items-center w-full p-4 bg-tag-teal">
	<img src="{{ eventBannerImage.src}}" data-srcset="{{ eventBannerImage.srcset() }}" alt="{{ eventBannerImageAltText }}" class="object-cover w-full h-48 border-4 border-tag-yellow">
	<h2 class="w-full mt-4 text-left text-black tag">{{ eventTitle }}</h2>
	<h3 class="w-full mb-4 font-bold text-left border-t-4 tag border-tag-red">{{ eventDate }}
		at
		{{ eventTime }}</h3>
	<a href="{{ btnLink }}" class="p-2 text-xl font-extrabold uppercase border-2 border-tag-light-grey text-tag-light-grey font-proxima-nova hover:border-tag-red" target="_blank">
		{{ btnText }}
	</a>
</article>
